.not-found-page {
    color: #fff;
    min-height: 100vh;
    padding-top: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-image: url('../../../public/img/404.jpg');
    background-size: cover;
}

.not-found-page__code-error {
    font-size: 15vmax;
    margin: 0;
}